<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/addActivity.css"> 

    <title>Edit Activity</title>
</head>
<body>
  <%- include ('./navbar.ejs') %>

    <div class="edit-task content form">
        <form action="/edited-activity/<%= activity._id  %> " method="POST">
         
          <label for="activityName">Activity Title</label>
          <input type="text" id="activityName" name="activityName" required>

          <label for="days">Days</label>
          <input type="text" id="days" name="days" required>
         
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" >
         
          <label for="endDate">End Date</label>
          <input type="date" id="endDate" name="endDate" >

          <label for="activityNotes">Activity Notes</label>
          <textarea id="activityNotes" name="activityNotes" ></textarea>
          <button>Edit</button>
        </form>
      </div>
</body>
</html>