<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Removed Activity</title>
</head>
<body>
    <%- include ('./navbar.ejs') %>

    <h1>Activity removed</h1>
    <button><a href="/">Home</a></button>
</body>
</html>