<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/signin.css"> 

  <title>User Login</title>
</head>
<body>
  <h1 class="title">User Login</h1>
<div class="login-page">
  <div class="form" >
    <form  action="/signedin-user" method="POST"
    class="login-form">
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>Login</button>
    </form>
  </div>
</div>
  
</body>
</html>



